.banner-container {
  margin-top: -18px;
  width: 100%; /* Use 100% for responsive design */
  height: auto;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
}

/* Phần hiển thị khóa học */
.courses-container {
  margin-top: 50px;
  max-width: 1320px; /* Set a max width */
  margin: 0 auto; /* Center the container */
  text-align: center;
}

.courses-container h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.courses-grid {
  display: flex;  
  align-items: center;
  justify-content: center; /* Center the grid */
  width: 100%; /* Use 100% for responsive design */
  margin: 0 auto; 
}

.newLine {
  max-width: 1320px; /* Set a max width */
  text-align: center;
  height: 100px;
  background-color: #0a58ca;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto; /* Center the section */
}

.courses-wrapper {
  max-width: 1320px; /* Set a max width */
  margin: 0 auto; /* Center the wrapper */
}

.course-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  width: 300px; /* Fixed width for cards */
  height: 450px; /* Fixed height for cards */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is evenly distributed */
}

.course-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 150px; /* Fixed height for images */
  object-fit: cover; /* Ensure the image fits within the allocated space */
}

.course-card h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.course-card p {
  font-size: 16px;
  color: #666;
}

.course-price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.buy-button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.buy-button:hover {
  background-color: #cc5200;
}

.prev-button, .next-button, .buy-button {
  padding: 5px 10px; 
  font-size: 12px; 
  background-color: #007BFF; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.prev-button, .next-button {
  flex: 0 0 auto; 
  margin: 0 10px; 
}

.prev-button:disabled, .next-button:disabled {
  background-color: #ccc; /* Background color for disabled button */
  cursor: not-allowed; /* Cursor style for disabled button */
}
